.titulo {
    text-align: center;
    color: beige;
}

.color-fondo {
    background-color: rgb(0, 109, 109);
}

.datos-header {
    margin-bottom: 0.2cm;
}


.parrafo-cuadro {
    border: 2px solid white;
    padding: 20px;
    font-size: 16px;
    background-color: brown;
    color: aliceblue;
    border-radius: 1vw;
    width: 300px;
    height: 150px;
}

.titulo-main {
    border-bottom: 2px solid black;
    padding: 2px;
    display: inline-block;
    margin: 0;
}

.main-subtitulo-2 {
    margin-top: -0.3cm;
}

.parrafo-identado-main {
    text-indent: 2em;
}

#Lenguaje-interpretado {
    margin-top: 2em;
}

.fondoColor-footer{
    background-color: wheat;
    margin-left: -8px; margin-right: -8px; margin-bottom: -19px;
}

.texto-footer{
    margin-left: 15px;
}

.edicion-imagenes{
    display: flex;
    height: 200px;
    margin: 10px;
    justify-content: space-evenly;
}

.border-foto-main{
    border: 3px solid rgb(234, 234, 14);
    padding: 15px;
    border-radius: 1em;
    background-color: gray;
}
